<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>RotalaLink</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>rotalalink</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>

	<!-- URL Scheme -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>auth-reset</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rotala</string>
			</array>
		</dict>
	</array>

	<!-- CAMERA + PHOTO PERMISSIONS MUST BE HERE -->
	<key>NSCameraUsageDescription</key>
	<string>RotalaLink uses the camera to take photos of your tanks.</string>

	<key>NSPhotoLibraryUsageDescription</key>
	<string>RotalaLink needs access to your photo library to select tank photos.</string>

	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>RotalaLink saves tank photos to your library.</string>

	<!-- Bluetooth Permissions -->
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>RotalaLink uses Bluetooth to connect to your AquaSpec device.</string>

	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>RotalaLink uses Bluetooth to connect to your AquaSpec device.</string>

	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>

	<!-- Orientation Lock -->
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>

	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

</dict>
</plist>
